<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div align="center">
    <table>
        <tr>
            <th>Number</th>
            <th>Date</th>
            <th>Name</th>
            <th>Surname</th>
            <th>Registration number</th>
            <th>Model</th>
            <th>Can be modified</th>
            <th>Status</th>
        </tr>
        <tr th:each="Application, iter :${applicationList}">
            <td th:text="${applicationList.get(iter.count - 1).id}"></td>
            <td th:text="${applicationList.get(iter.count - 1).date}"></td>
            <td th:text="${applicationList.get(iter.count - 1).client.name}"></td>
            <td th:text="${applicationList.get(iter.count - 1).client.surname}"></td>
            <td th:text="${applicationList.get(iter.count - 1).car.registrationNumber}"></td>
            <td th:text="${applicationList.get(iter.count - 1).car.brand}"></td>
            <td th:text="${applicationList.get(iter.count - 1).canBeTuned}"></td>
            <td th:switch="${applicationList.get(iter.count - 1).status}">
                <span th:case="${T(com.project.ipb.ipbProject.model.Status).PreparedForTuning}">Repaired, waiting for client response</span>
                <span th:case="${T(com.project.ipb.ipbProject.model.Status).NotReady}">
                    <form th:action="@{/ready}" method="post">
                        <input type="submit" value="Make it ready"/>
                    </form>
                    It ain't ready
                </span>
                <span th:case="${T(com.project.ipb.ipbProject.model.Status).SendForTuning}">
                    Ready to tune
                    <form th:action="@{/tune(applicationId=${iter.count})}" method="get">
                         <input type="submit" value="Send for tuning"/>
                    </form>
                </span>
                <span th:case="${T(com.project.ipb.ipbProject.model.Status).ReadyToRepair}">Ready to repair
                    <form th:action="@{/repair(applicationId=${iter.count})}" method="post">
                        <input type="submit" value="Send to repair"/>
                    </form>
                </span>
                <span th:case="${T(com.project.ipb.ipbProject.model.Status).TuningInProgress}">We're working on it</span>
            </td>
        </tr>
    </table>
    <form th:action="@{/helloAdmin}" method="get">
        <input type="submit" value="Go back"/>
    </form>
    <form th:action="@{/logout}" method="post">
        <input type="submit" value="Sign Out"/>
    </form>
</div>
</body>
</html>