<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>My applications</title>
</head>
<body>
<div align="center">
    <table>
        <tr>
            <th>Number</th>
            <th>Date</th>
            <th>Registration number</th>
            <th>Model</th>
            <th>Status</th>
        </tr>
        <tr th:each="Application, iter :${applicationList}">
            <td th:text="${applicationList.get(iter.count - 1).id}"></td>
            <td th:text="${applicationList.get(iter.count - 1).date}"></td>
            <td th:text="${applicationList.get(iter.count - 1).car.registrationNumber}"></td>
            <td th:text="${applicationList.get(iter.count - 1).car.brand}"></td>
            <td th:switch="${applicationList.get(iter.count - 1).status}">
                <span th:case="${T(com.project.ipb.ipbProject.model.Status).NotReady}">It's not ready my dude</span>
                <span th:case="${T(com.project.ipb.ipbProject.model.Status).TuningInProgress}">Car is getting upgraded</span>
                <span th:case="${T(com.project.ipb.ipbProject.model.Status).PreparedForTuning}">Ready to tune
                    <form th:action="@{/makeItModified(applicationId=${iter.count})}" method="post">
                    <input type="submit" value="I want it modified"/>
                    </form>
                </span>
                <span th:case="${T(com.project.ipb.ipbProject.model.Status).ToRepair}">
                    Send it to repair
                    <form th:action="@{/IWantItWorking(applicationId=${iter.count})}" method="post">
                    <input type="submit" value="I want it repaired"/>
                    </form>
                </span>
                <span th:case="${T(com.project.ipb.ipbProject.model.Status).TuningInProgress}">Your blyatmobil is upgrading</span>
                <span th:case="${T(com.project.ipb.ipbProject.model.Status).SendForTuning}">Your car is waiting for upgrade</span>
                <span th:case="${T(com.project.ipb.ipbProject.model.Status).ReadyToRepair}">Your car is waiting to be repaired</span>
            </td>
        </tr>
    </table>
</div>
<form th:action="@{/hello}" method="get">
    <input type="submit" value="Go back"/>
</form>
<form th:action="@{/logout}" method="post">
    <input type="submit" value="Log out"/>
</form>
</body>
</html>